<div th:insert="footer">
<footer class="template-footer">
    <a class="go-top" href="#">
        <i class="far fa-arrow-alt-circle-up"></i>
    </a>

    <div class="instagram-line">
        <div class="container">
            <ul class="insta-list">
                <li><a href="#"><img src="upload/instagram/1.jpg" alt=""></a></li>
                <li><a href="#"><img src="upload/instagram/2.jpg" alt=""></a></li>
                <li><a href="#"><img src="upload/instagram/3.jpg" alt=""></a></li>
                <li><a href="#"><img src="upload/instagram/4.jpg" alt=""></a></li>
                <li><a href="#"><img src="upload/instagram/5.jpg" alt=""></a></li>
                <li><a href="#"><img src="upload/instagram/6.jpg" alt=""></a></li>
                <li><a href="#"><img src="upload/instagram/7.jpg" alt=""></a></li>
                <li><a href="#"><img src="upload/instagram/8.png" alt=""></a></li>
            </ul>
        </div>
    </div>

    <div class="widget-part-area">
        <div class="footer-widget-line">
            <div class="image-widget">
                <a href="index.html"><img src="images/footer-logo.png" alt=""></a>
            </div>
        </div>
        <div class="footer-widget-line">
            <h5>Locations</h5>
            <ul class="custom-list">
                <li><a href="#">Melbourne</a></li>
                <li><a href="#">Berlin</a></li>
                <li><a href="#">New York</a></li>
            </ul>
        </div>
        <div class="footer-widget-line">
            <h5>Connect</h5>
            <ul class="custom-list">
                <li><a href="#">instagram</a></li>
                <li><a href="#">facebook</a></li>
            </ul>
        </div>
        <div class="footer-widget-line">
            <h5>Get in Touch</h5>
            <ul class="custom-list">
                <li><a href="#">hello@royarchtheme.com</a></li>
                <li><a href="#">0055 1200 6700</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>