<div th:fragment="header">
    <header class="clearfix">

        <div class="logo">
            <a href="index.ht   ml"><img src="images/logo-image.png" alt=""></a>
        </div>

        <div class="header-line">
            <a class="open-menu-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="social-line">
                <ul class="social-list">
                    <li>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                    </li>
                </ul>
            </div>
            <div class="copyright-line">
                <p>© GimMusic 2022</p>
            </div>
        </div>

        <nav class="nav-menu-box">
            <ul class="navigation-menu-list">
                <li class="menu-item-has-children">
                    <a href="index.html"><span><em>Home</em></span></a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home 1</a></li>
                        <li><a href="home2.html">Home 2</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="about.html"><span><em>About</em></span></a>
                    <ul class="sub-menu">
                        <li><a href="about.html">About 1</a></li>
                        <li><a href="about2.html">About 2</a></li>
                        <li><a href="services.html">Services</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children active">
                    <a href="blog.html"><span><em>Music</em></span></a>
                    <ul class="sub-menu">
                        <li><a href="music">All music</a></li>
                        <li><a href="blog-list.html">Blog List</a></li>
                        <li><a href="single-post.html">Single Post</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html"><span><em>Contact</em></span></a>
                </li>
            </ul>
        </nav>
    </header>
</div>